@import "tailwindcss";
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: inherit;
}

/* Glassmorphic Scrollbar */
.glass-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.glass-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* fully transparent track */
}

.glass-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15); /* frosted glass white */
  backdrop-filter: blur(6px);
  border-radius: 10px;
}

.glass-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}
