@import "tailwindcss";
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: inherit;
}
